{include file="login/header"}
<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="ace-icon fa fa-coffee green"></i>
                注:公共场请不要记住密码
            </h4>

            <div class="space-6"></div>

            <form action="/admin/login/index" method="post" name="loginform">
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="{$feedback.mobile}" />
                            <i class="ace-icon fa fa-phone"></i>
                            {if condition="($error.mobile == 1) OR ($error.mobile == 2) "}
                                <i class="ace-icon fa fa-remove error_tip"></i>
                            {else /}<!--<i class="ace-icon fa fa-check red"></i> -->
                            {/if}
                        </span>           
                    </label>
                                                                        

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input type="password" name="password" class="form-control" placeholder="Password" />
                            <i class="ace-icon fa fa-lock"></i>
                            {if condition="($error.password == 1) OR ($error.password == 2) "}
                                <i class="ace-icon fa fa-remove red error_tip"></i>
                            {else /}<!--<i class="ace-icon fa fa-check red"></i> -->
                            {/if}
                        </span>                                                        
                    </label>                                                                                      
                   
                    <div class="space"></div>
                    <div class="clearfix">
                        <label class="inline">
                            <input type="checkbox" name="islogin" class="ace" />
                            <span class="lbl">记住密码</span>
                        </label>                       
                        
                        <button onclick="loginform.submit()" type="button" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="ace-icon fa fa-key"></i>
                            <span class="bigger-110" >登陆</span>
                        </button>                                                        
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            </form>

            <div class="social-or-login center">
                <span class="bigger-110">Or Login Using</span>
            </div>

            <div class="space-6"></div>

            <div class="social-login center">
                <a class="btn btn-primary">
                    <i class="ace-icon fa fa-wechat"></i>
                </a>

                <a class="btn btn-info">
                    <i class="ace-icon fa fa-qq"></i>
                </a>

                <a class="btn btn-danger">
                    <i class="ace-icon fa fa-weibo"></i>
                </a>
            </div>
        </div><!-- /.widget-main -->

        <div class="toolbar clearfix">
            <div>
                <a href="/admin/login/forgot" data-target="#forgot-box" class="forgot-password-link">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    I forgot my password
                </a>
            </div>

            <div>
                <a href="/admin/login/signup" data-target="#signup-box" class="user-signup-link">
                    I want to register
                    <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.login-box -->
{include file="login/footer"}                                
                            